<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pheonix🔥Scan</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="shortcut icon" href="../../static/assets/logo.png" />
    <link rel="manifest" href="../../static/assets/site.webmanifest">
    <script src="https://unpkg.com/animejs@2.2.0/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<!--Header images-->

<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <img src="../../static/assets/logo.png" alt="strainer" height="150px" width="150px" />
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>
        <!--header images-->
        <!--main content-->
        <main>
            <section class="hero" style="height:100vh;">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">Let's Check your site <span class="text-primary">Pheonix🔥Scan</span> will check your site health..</h1>
                            <p class="hero-paragraph">Check your website security</p>
                            <form action="/" method="POST" class="hero-form field field-grouped">
                                <div class="control control-expanded">
                                    <input class="input" type="url" name="url" placeholder="https://example.com">
                                </div>
                                <div class="control">
                                    <button type="submit" class="button button-primary button-block">SCAN</button>
                                </div>
                            </form>
                        </div>
                        <!--logo-->
                        <div>
                            <div class="hero-main-shape">
                                <img src="../../static/assets/logo1.png" alt="strainer" height="1200px" width="1200px" />
                            </div>
                        </div>
                        <!--logo-->
                    </div>
                </div>

            </section>
            <!---newsletter-->
            <section class="newsletter section text-light">
                <div class="container-sm">
                    <div class="newsletter-inner section-inner">
                        <div class="newsletter-header text-center">
                            <h2 class="section-title mt-0">THIS IS A COLLEGE PROGECT FOR CYBER SECURITY !</h2>
                            <p class="section-paragraph">DEVELOPERS: VANSH - ABHISHEK - VAIBHAV - JESSE.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!---newsletter-->
            <!--main content-->
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner has-top-divider">
                    <div class="brand footer-brand">

                    </div>
                    <!--footer-->
   
                    
                    <!--footer-->
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
